* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* UTILITIES */

.full-height {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
}

body {
    color: white;
    font-family: 'Lato', sans-serif;
}

/* Header */

header {
    height: 80px;
    background-color: #000;
    text-align: right;
    padding-top: 10px;
}

header a {
    text-decoration: none;
    color: white;
}

header i {
    background-color: #4A4A4A;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Main */

main {
    flex-grow: 1;
}

.framing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.framing-person {
    height: 200px;
    width: 250px;
    margin-bottom: 5px;

    position: relative;
}

.framing-person img {
    height: 100%;
}

.framing-person span {
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: rgba(103,115,123, 0.6);
}

/* Footer */

.commands {
    height: 80px;
    background-color: #222222;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .menu-chev::after {
   font-family: "Font Awesome 5 Free"; 
   font-weight: 900; 
   content: "\f077";
} */

footer a {
    text-decoration: none;
    color: white;
}

.commands i {
    font-size: 1.5rem;
}

.commands a:hover {
    color: lightgreen;
}

.commands span {
    font-size: 12px;
    padding-top: 5px;
}

/* commands-left */

.commands-left {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    /* padding-left: 10px; */
}

.flex-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-chevron-up {
    font-size: 12px;
}


/* Navbar */

.navbar {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* commands right */

.commands-right {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: right;
}

.commands-right a {
    color: red;
}

.end-call {
    width: 50%;
    height: 100%;
    background-color: #4A4A4A;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}
